<h2 *ngIf="results==false">Our Users</h2>
<h2 *ngIf="results==true">Results</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Full Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.surname}} {{user.name}}</td>
      <td><div>
        <a routerLink="/users/{{user.id}}"><button>View/Edit</button></a>
        <button class="id"(click)="delete(user)">Delete</button>
      </div></td>
  </tr>
</table>

<br>
<br>
<div><button *ngIf="results==false"> <a routerLink="/addnew"></a>Add</button></div>
<br>
<br>

<input id="query" #query type="text" placeholder="Search Full Name" />

<button *ngIf="results==false" (click)="findUser(query.value)">search</button>
<button *ngIf="results==true" (click)="clear()">clear</button>
