<h2>Our Users</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Full Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.surname}} {{user.name}}</td>
      <td><div>
        <a routerLink="/users/{{user.id}}"><button>View/Edit</button></a>
        <button class="id"(click)="delete(user)">Delete</button>
      </div></td>
  </tr>
</table>

<br>
<br>
<div><a routerLink="/addnew"><button>Add</button></a></div>
<br>
<br>
<input id="query" #query type="text" placeholder="Search Full Name"/>
<button (click)="findUser(query.value)">search</button>
