table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
width: 100%;
}

th, td {
  padding: 5px;
  text-align: center;
}

button {
  padding:5px 5px;
  margin:5px 5px;
  background-color:#dcdbecfa;
  text-align:center;
  border-radius: 5px;
  border-color:black;
}

button:hover {
  background-color:#756de6fa;
}
