<div class="container">
<div class="title">
  <h2 *ngIf="results==false">Our Users</h2>
  <h2 *ngIf="results==true">Results</h2>
  <h4><label for="active">Show Inactive Users</label>
      <input #active type="checkbox" [checked]="showInactive" (change)="toggleUsers(active.checked)"/>
  </h4>
</div>

<div class="bar">
  <input #query type="text" placeholder="Search Full Name" />
  <button *ngIf="results==false" (click)="findUser(query.value)">search</button>
  <button *ngIf="results==true" (click)="clear()">clear</button>
</div>

<table>
  <tr>
    <th>Id</th>
    <th>Full Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users">
    <td [class]="{'greyed' : user.isActive==false}">{{user.id}}</td>
    <td [class]="{'greyed' : user.isActive==false}">{{user.surname}} {{user.name}}</td>
    <td>
      <div class="actbuttons">
      <a routerLink="/users/{{user.id}}"><button>View/Edit</button></a>
      <button (click)="delete(user)"  [class]="{'inactive' : user.isActive==false}">Delete</button>
      </div>
    </td>
  </tr>
</table>

<div class="bar">
  <a routerLink="/../addnew"><button *ngIf="results==false"> Add</button></a>
</div>
<div class="bottom"></div>
</div>

