<div class="container">
  <div  class="title">
    <h2>Add a new user</h2>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <table>
      <tbody>
        <tr>
          <th><label for="Name">Name</label></th>
          <td><input id="Name" type="text" formControlName="name"/></td>
        </tr>
        <tr>
          <th><label for="Surname">Surname</label></th>
          <td><input id="Surname" type="text" formControlName="surname"/></td>
        </tr>
        <tr>
          <th><label for="Date of Birth">Date of Birth</label></th>
          <td><input id="Date of Birth" type="date" formControlName="birthDate"/></td>
        </tr>
        <tr>
          <th><label for="Email">Email</label></th>
          <td><input id="Email" type="text" formControlName="emailAddress"/></td>
        </tr>
        <tr>
          <th><label for="UserTitleId">User Title</label></th>
          <td>
            <select id="UserTitleId" formControlName="userTitleId">
              <option disabled value=0>-- Select One --</option>
              <option *ngFor="let t of titles" [value]="t.id">{{t.description}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label for="UserTypeId">User Type</label></th>
          <td>
            <select id="UserTypeId" formControlName="userTypeId">
              <option disabled value=0>-- Select One --</option>
              <option *ngFor="let t of types" [value]="t.id">{{t.description}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="bar">
      <button type="submit">Save</button>
    </div>
  </form>

  <div class="bar">
    <button (click)="goBack()">Go Back</button>
  </div>

</div>


