<div *ngIf="user" class="container">
  <div  class="title">
  <h2>Details of user {{user.id}}</h2>
  </div>

  <table>
    <tr>
      <th>Id</th>
      <td><span class="id">{{user.id}}</span></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><input #name type="text" [(ngModel)]="user.name" placeholder="Name"/></td>
    </tr>
    <tr>
      <th>Surname</th>
      <td><input #surname type="text" [(ngModel)]="user.surname" placeholder="Surname"/></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><input #date type="date" [ngModel]="user.birthDate  | date:'yyyy-MM-dd'"  (ngModelChange)="user.birthDate = $event" /></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><input #emailAddress type="email" [(ngModel)]="user.emailAddress" placeholder="Email"/></td>
    </tr>
    <tr>
      <th>User Title</th>
      <td>
        <select [(ngModel)]="user.userTitleId" (change)="onSelectTitle($any($event.target).value)">
          <option disabled value='null'>-- Select A User Title --</option>
          <option *ngFor="let t of titles" [value]="t.id">{{t.description}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>User Type</th>
      <td>
        <select [(ngModel)]="user.userTypeId" (change)="onSelectType($any($event.target).value)">
          <option disabled value='null'>-- Select A User Type --</option>
          <option *ngFor="let t of types" [value]="t.id">{{t.description}}</option>
          </select>
      </td>
    </tr>
    <tr>
      <th>Active</th>
      <td><input type="checkbox" #isActive [(ngModel)]="user.isActive" placeholder="Active"/></td>
    </tr>
  </table>


<div class="bar">
  <button type="button" *ngIf="user" (click)="save()">Update</button>
  <button type="button" *ngIf="user" (click)="delete()">Delete</button>
</div>

<div class="bar">
  <button type="button" *ngIf="user" (click)="goBack()">Go Back</button>
</div>

</div>


